<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Debug">
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS} %-5level] %logger{36} - %msg%n"/>
        </Console>
 
        <File name="com.kroger.controller" fileName="C:/Users/skrishnakanth/Downloads/SpringBootCassandraPoc/src/main/resources/application.log" immediateFlush="true">
            <PatternLayout pattern="[%d{ISO8601} %-5level] %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    
    <Loggers>
  <Root level="all">
    <AppenderRef ref="Console" />
    <AppenderRef ref="File"  />
  </Root>
	</Loggers>
</Configuration>